<header class="header">
    <img class="header__image" src="/images/medusa.png" alt="logo" height="200px" width="auto">
    <div class="header__title--container">
        <h1 class="header-title">
            <%= title %>
        </h1>
        <h2 class="header-subtitle">
            <%= subtitle %>
        </h2>
    </div>
</header>