<h2>Here is the mother of all gos!!</h2>
<div class="hera">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ut dignissimos aperiam quaerat unde dolores expedita deserunt laborum quae. Architecto explicabo magnam inventore sapiente laudantium adipisci error labore distinctio beatae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quia quisquam perferendis aperiam tenetur? Cumque perferendis, itaque iusto repudiandae corrupti eligendi soluta, odio maxime ducimus sit ullam atque, fugiat error?</p>
</div>